@model bool
@if (Model)
{
    <div class="alert alert-success" role="alert">
        <strong>Successfull.!</strong> Your data has been saved.
    </div>
}
else
{
    <div class="alert alert-success" role="alert">
        <strong>Faild.!</strong> Your data has not been saved.
    </div>
}
