@model BasicCRUD.Models.Department
@{
    ViewData["Title"] = "Department Create";
}

<div class="container" id="formHide">
    <div class="row">
        <div class="col-6 offset-3">
            <h3 class="text-info text-center">Department Create</h3>
            <hr />
            <div id="placeholder"></div>
            <form method="post" asp-controller="Department" asp-action="Create"
                  id="fDepartment"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#placeholder"
                  data-ajax-success="onSuccess">
                <div class="form-group">
                    <label asp-for="DepName"></label>
                    <input asp-for="DepName" class="form-control" type="text" />
                    <span asp-validation-for="DepName" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-sm btn-outline-success w-25">Save</button>
                    <a asp-controller="Department" asp-action="Index" class="btn btn-sm btn-outline-primary w-25">Back</a>
                </div>

            </form>

        </div>
    </div>
</div>
