################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BasicCRUD/bin/Debug
/BasicCRUD/obj
